<div class="container">
  <div class="top-question">
    <h1>Latest Question</h1>
    <p>Q: <% @questions.last %></br>
    <% @questions.last %>
  </div>

  <div class="other-questions">
    <% @questions.each do |question| %>
      <!-- <h3><#%= link_to(question.title, question_path)%></h3> -->
      <h3><%= link_to(question.title, question_path(question))%></h3>
      <p><%= question.body %></p>
    <% end %>
  </div>
</div>

<%= link_to("Ask a Question", new_question_path) %>
<hr>
<h2>Tags:</h2>
<% @tags.uniq.each do |tag| %>
  <div style="border:1px solid black; margin:5px; display:inline-block; padding:5px; border-radius:3px; background:#f2f2f2;">
  <%= link_to tag.name, tag_path(tag) %>
  </div>
<% end %>
