<h1>Hello World</h1>

<% @users.each do |user| %>
  <p>User Email: <%= user.email %></p>
  <p>User Category: <%= user.category %></p>
<% end %>
<%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
