<div class = "container">
  <h2>About</h2>

  <h4>Lawmakers and policy experts need a space to connect quickly, easily, and anonymously.</h4>

  <div class="center-video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/eDsOXW2F8Zs?list=PLzM1iiQhVrdE8wIqRciQmLHjIm4eGGT_l" frameborder="0" allowfullscreen></iframe>
  </div>

  <p>
  There is an incredible amount of scholarship that
  is out there that is not properly integrated into policymaking.
  Madeleine Albright (Wilson Center, May 15, 2015)
  </p>

  <h4>
  Through [PoliConnect], the two groups can interact, exchange ideas, and
  share research to devise answers to policy questions.
  Users are only identified by their affiliation as either a lawmaker or an
  expert. Users are not identified by political, ideological, or organizational
  affiliation. The ideas should be judged on their own merits, not on the
  perceptions about the individual expert.
  </h4>

  <p>
  [When I asked questions,] I didn’t want people to interpret, according
  to what questions I was asking, what direction we were going in.
  ­Madeleine Albright
  </p>

  <p>
  Users are also able to vote on answers, encouraging well­researched and
  thoroughly­argued answers to filter to the top of each question thread.
  </p>

  <h4>
  There needs to be more connection between think tanks and what is
  going on on the Hill. Not at hearings, which I call ‘yellings,’ but in
  various ways in the background where there can be some exchange
  of information. We are lacking because there is a ton of good
  research going on that doesn’t get into the system.
  ­Madeleine Albright
  </h4>
</div>
