/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body{
  padding:2%;
  background-color:rgb(254, 254, 207);
}

header{
  margin-bottom:5%;
  font-family: 'Anonymous Pro';
}

header p{
  float:left;
  text-align:center;
  font-size:1.4em;
}

h1 a:hover, p a:hover{
  text-decoration:none;
}

header h1{
  text-align:center;
  font-size:4em;
  line-height:10%;
  margin-left:5%;
  margin-bottom:-1%;
}

p{
  padding-left: 5%;
}

nav{
  margin-left:36%;
}

.container{
  width:60%;
}
